node-RED orchestreur.json
[{"id":"48492fc1.d4cfb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ea1010f6.f1952","type":"comment","z":"48492fc1.d4cfb","name":"if timer is low","info":"","x":150,"y":500,"wires":[]},{"id":"53ae8b25.78d214","type":"inject","z":"48492fc1.d4cfb","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":540,"wires":[["37f6de76.0cb7d2"]]},{"id":"37f6de76.0cb7d2","type":"trigger","z":"48492fc1.d4cfb","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"300","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":380,"y":540,"wires":[["9437db15.43bc48","8fa8b13a.75d5"]]},{"id":"9437db15.43bc48","type":"delay","z":"48492fc1.d4cfb","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":640,"wires":[["37f6de76.0cb7d2"]]},{"id":"8fa8b13a.75d5","type":"mqtt out","z":"48492fc1.d4cfb","name":"","topic":"led","qos":"0","retain":"","broker":"5d40a4c0.24b73c","x":630,"y":540,"wires":[]},{"id":"d978bdca.b0956","type":"mqtt in","z":"48492fc1.d4cfb","name":"","topic":"currentAppointment","qos":"0","datatype":"auto","broker":"f359e0ea.111b3","x":170,"y":180,"wires":[["6b7a905a.480e4","5d5c8738.e1b478"]]},{"id":"6b7a905a.480e4","type":"switch","z":"48492fc1.d4cfb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":140,"wires":[["5a6ef496.5f609c","d6997f36.7087c"]]},{"id":"6bcacc22.c5b744","type":"comment","z":"48492fc1.d4cfb","name":"3 ping led","info":"","x":620,"y":80,"wires":[]},{"id":"30bbb1e8.c2d22e","type":"function","z":"48492fc1.d4cfb","name":"ping led","func":"if (msg.payload == 1) {\n    //then 3 ping\n    var current = global.get(\"currentAppointment\");\n    current += 1;\n    global.set(\"currentAppointment\",current);\n    return {\n        payload: true\n    };\n}\nreturn {\n    payload: false\n};","outputs":1,"noerr":0,"x":720,"y":140,"wires":[["a9303a68.79fdf8"]]},{"id":"5a6ef496.5f609c","type":"trigger","z":"48492fc1.d4cfb","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"1","extend":false,"units":"s","reset":"3","bytopic":"all","name":"","x":540,"y":140,"wires":[["30bbb1e8.c2d22e","2e38465a.93f93a"]]},{"id":"c74f1743.6b5098","type":"delay","z":"48492fc1.d4cfb","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":200,"wires":[["5a6ef496.5f609c"]]},{"id":"a9303a68.79fdf8","type":"mqtt out","z":"48492fc1.d4cfb","name":"","topic":"led","qos":"0","retain":"","broker":"5d40a4c0.24b73c","x":870,"y":140,"wires":[]},{"id":"ba8e790a.140678","type":"inject","z":"48492fc1.d4cfb","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":100,"wires":[["6b7a905a.480e4"]]},{"id":"f791a073.1d4b3","type":"mqtt in","z":"48492fc1.d4cfb","name":"","topic":"deleteAppointment","qos":"0","datatype":"auto","broker":"f359e0ea.111b3","x":150,"y":780,"wires":[["ea1d074b.2417d8"]]},{"id":"b80b9aab.438848","type":"mqtt out","z":"48492fc1.d4cfb","name":"","topic":"appointments","qos":"","retain":"","broker":"f359e0ea.111b3","x":760,"y":780,"wires":[]},{"id":"ea1d074b.2417d8","type":"http request","z":"48492fc1.d4cfb","name":"","method":"DELETE","ret":"txt","paytoqs":false,"url":"http://localhost:9428/api/appointments/{{{payload}}}","tls":"","proxy":"","authType":"basic","x":410,"y":780,"wires":[["b80b9aab.438848","93a3775a.15f4e8"]]},{"id":"8baff3b3.e6ded","type":"mqtt in","z":"48492fc1.d4cfb","name":"","topic":"test","qos":"0","datatype":"utf8","broker":"f359e0ea.111b3","x":140,"y":900,"wires":[["ac8c279a.d13b08"]]},{"id":"ac8c279a.d13b08","type":"http request","z":"48492fc1.d4cfb","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/appointments","tls":"","proxy":"","authType":"basic","x":330,"y":860,"wires":[[]]},{"id":"93fb836a.1c8e7","type":"mqtt in","z":"48492fc1.d4cfb","name":"","topic":"newConnection","qos":"0","datatype":"utf8","broker":"f359e0ea.111b3","x":140,"y":1000,"wires":[["93a3775a.15f4e8","1f61dc3f.52ee24","1190674e.4f4fa9","ba2c35cd.c5dc88"]]},{"id":"93a3775a.15f4e8","type":"http request","z":"48492fc1.d4cfb","name":"getAppointments","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/appointments","tls":"","proxy":"","authType":"basic","x":450,"y":980,"wires":[["f8e7b2e8.51d82"]]},{"id":"1f61dc3f.52ee24","type":"http request","z":"48492fc1.d4cfb","name":"getUsers","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/login","tls":"","proxy":"","authType":"basic","x":420,"y":1040,"wires":[["ca94965a.5a8248"]]},{"id":"f8e7b2e8.51d82","type":"mqtt out","z":"48492fc1.d4cfb","name":"","topic":"appointments","qos":"","retain":"","broker":"f359e0ea.111b3","x":720,"y":980,"wires":[]},{"id":"ca94965a.5a8248","type":"mqtt out","z":"48492fc1.d4cfb","name":"","topic":"users","qos":"","retain":"","broker":"f359e0ea.111b3","x":690,"y":1040,"wires":[]},{"id":"d6997f36.7087c","type":"function","z":"48492fc1.d4cfb","name":"init currentAppointment","func":"global.set(\"currentAppointment\",0);\n","outputs":0,"noerr":0,"x":410,"y":40,"wires":[]},{"id":"1190674e.4f4fa9","type":"function","z":"48492fc1.d4cfb","name":"init currentAppointment","func":"global.set(\"currentAppointment\",0);\n","outputs":0,"noerr":0,"x":430,"y":1080,"wires":[]},{"id":"6cb1ef42.f53ac","type":"mqtt in","z":"48492fc1.d4cfb","name":"","topic":"backToList","qos":"0","datatype":"auto","broker":"f359e0ea.111b3","x":140,"y":380,"wires":[["2790a3ff.5cf92c"]]},{"id":"2790a3ff.5cf92c","type":"function","z":"48492fc1.d4cfb","name":"init currentAppointment","func":"global.set(\"currentAppointment\",0);\n","outputs":0,"noerr":0,"x":350,"y":380,"wires":[]},{"id":"ea8d11b0.4d73f","type":"mqtt in","z":"48492fc1.d4cfb","name":"","topic":"currentAppointment","qos":"0","datatype":"auto","broker":"f359e0ea.111b3","x":110,"y":1240,"wires":[["b421184d.91eab8"]]},{"id":"b421184d.91eab8","type":"http request","z":"48492fc1.d4cfb","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/appointments/{{{payload}}}","tls":"","proxy":"","authType":"basic","x":290,"y":1240,"wires":[["4ae05f78.628b9"]]},{"id":"2e38465a.93f93a","type":"switch","z":"48492fc1.d4cfb","name":"","property":"currentAppointment","propertyType":"global","rules":[{"t":"neq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":200,"wires":[["c74f1743.6b5098"]]},{"id":"6a48c15f.33a17","type":"mqtt in","z":"48492fc1.d4cfb","name":"","topic":"nextUser","qos":"0","datatype":"auto","broker":"f359e0ea.111b3","x":280,"y":1500,"wires":[["1dd66813.7aabc8","2ebb9781.6b4858","e9962bb3.b810f8"]]},{"id":"5d5c8738.e1b478","type":"function","z":"48492fc1.d4cfb","name":"Set AppointmentId","func":"global.set(\"currentAppointmentId\",msg);","outputs":0,"noerr":0,"x":250,"y":241,"wires":[]},{"id":"4ae05f78.628b9","type":"function","z":"48492fc1.d4cfb","name":"init users","func":"var users = msg.payload.studentsID;\nglobal.set(\"currentAppointmentUsers\",users);\nglobal.set(\"sizeOfUsers\",users.length);\nglobal.set(\"counter\", 1);\nvar newMsg = { payload: users};\nreturn newMsg;","outputs":1,"noerr":0,"x":440,"y":1240,"wires":[["810690e9.f43f7","354f5b88.17d174"]]},{"id":"e05ede04.16063","type":"mqtt out","z":"48492fc1.d4cfb","name":"","topic":"inRoomCurrentUser","qos":"0","retain":"","broker":"f359e0ea.111b3","x":880,"y":1500,"wires":[]},{"id":"408bd728.3fe9e8","type":"mqtt out","z":"48492fc1.d4cfb","name":"","topic":"inRoomNextUser","qos":"0","retain":"","broker":"f359e0ea.111b3","x":890,"y":1400,"wires":[]},{"id":"1dd66813.7aabc8","type":"function","z":"48492fc1.d4cfb","name":"currentUser","func":"var user = global.get(\"inRoomCurrentUser\");\nvar newMsg = { payload: user};\nreturn newMsg;","outputs":1,"noerr":0,"x":530,"y":1500,"wires":[["d831b3cd.05bb3"]]},{"id":"2ebb9781.6b4858","type":"function","z":"48492fc1.d4cfb","name":"nextUser","func":"var user = global.get(\"inRoomNextUser\");\nvar newMsg = { payload: user};\nreturn newMsg;","outputs":1,"noerr":0,"x":520,"y":1400,"wires":[["e63aafb0.3a4e8"]]},{"id":"38fc97f4.1a64d8","type":"mqtt out","z":"48492fc1.d4cfb","name":"","topic":"inRoomCurrentUser","qos":"","retain":"","broker":"f359e0ea.111b3","x":1000,"y":1200,"wires":[]},{"id":"24e0cac0.b01406","type":"mqtt out","z":"48492fc1.d4cfb","name":"","topic":"inRoomNextUser","qos":"","retain":"","broker":"f359e0ea.111b3","x":990,"y":1260,"wires":[]},{"id":"810690e9.f43f7","type":"function","z":"48492fc1.d4cfb","name":"init currentUser","func":"var userList = global.get(\"currentAppointmentUsers\");\nglobal.set(\"inRoomCurrentUser\",userList[0]);\nvar newMsg = { payload: userList[0]};\nreturn newMsg;","outputs":1,"noerr":0,"x":620,"y":1200,"wires":[["e4778ca8.50939"]]},{"id":"354f5b88.17d174","type":"function","z":"48492fc1.d4cfb","name":"init nextUser","func":"var userList = global.get(\"currentAppointmentUsers\");\nglobal.set(\"inRoomNextUser\",userList[1]);\nvar newMsg = { payload: userList[1]};\nreturn newMsg;","outputs":1,"noerr":0,"x":610,"y":1260,"wires":[["f52edd27.96a12"]]},{"id":"e4778ca8.50939","type":"http request","z":"48492fc1.d4cfb","name":"getUsers","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/login/{{{payload}}}","tls":"","proxy":"","authType":"basic","x":800,"y":1200,"wires":[["38fc97f4.1a64d8"]]},{"id":"f52edd27.96a12","type":"http request","z":"48492fc1.d4cfb","name":"getUsers","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/login/{{{payload}}}","tls":"","proxy":"","authType":"basic","x":800,"y":1260,"wires":[["24e0cac0.b01406"]]},{"id":"d831b3cd.05bb3","type":"http request","z":"48492fc1.d4cfb","name":"getUsers","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/login/{{{payload}}}","tls":"","proxy":"","authType":"basic","x":680,"y":1500,"wires":[["e05ede04.16063","e75ab9b1.a72668"]]},{"id":"e63aafb0.3a4e8","type":"http request","z":"48492fc1.d4cfb","name":"getUsers","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/login/{{{payload}}}","tls":"","proxy":"","authType":"basic","x":680,"y":1400,"wires":[["408bd728.3fe9e8"]]},{"id":"85a1cdd3.79ce6","type":"mqtt in","z":"48492fc1.d4cfb","name":"","topic":"buttonPressed","qos":"0","datatype":"auto","broker":"5d40a4c0.24b73c","x":80,"y":1340,"wires":[["a994e85.7f59218"]]},{"id":"a994e85.7f59218","type":"function","z":"48492fc1.d4cfb","name":"if currentAppointment != 0","func":"if (global.get(\"currentAppointment\") != 0 ){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":230,"y":1400,"wires":[["2ebb9781.6b4858","1dd66813.7aabc8","e9962bb3.b810f8"]]},{"id":"ba2c35cd.c5dc88","type":"mqtt out","z":"48492fc1.d4cfb","name":"","topic":"newConnection","qos":"0","retain":"","broker":"5d40a4c0.24b73c","x":180,"y":1140,"wires":[]},{"id":"2eaadcc4.6d4194","type":"comment","z":"48492fc1.d4cfb","name":"Call begin to the raspberry","info":"","x":170,"y":1100,"wires":[]},{"id":"e75ab9b1.a72668","type":"delay","z":"48492fc1.d4cfb","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":1620,"wires":[["c3a7f742.eca078"]]},{"id":"c3a7f742.eca078","type":"function","z":"48492fc1.d4cfb","name":"counter++","func":"var users = global.get(\"currentAppointmentUsers\");\nvar size = global.get(\"sizeOfUsers\");\nvar i = global.get(\"counter\");\nif(i < (size -1)) {\n    current = users[i];\n    i++;\n    global.set(\"counter\",i);\n    next = users[i];\n    global.set(\"inRoomCurrentUser\", current);\n    global.set(\"inRoomNextUser\", next);\n} else {\n    current = users[i];\n    i++;\n    global.set(\"counter\",i);\n    global.set(\"inRoomCurrentUser\", current);\n    global.set(\"inRoomNextUser\", -1);\n}\n\n","outputs":0,"noerr":0,"x":980,"y":1620,"wires":[]},{"id":"702f5bc2.592b04","type":"mqtt out","z":"48492fc1.d4cfb","name":"","topic":"userLeft","qos":"0","retain":"","broker":"f359e0ea.111b3","x":620,"y":1560,"wires":[]},{"id":"e9962bb3.b810f8","type":"function","z":"48492fc1.d4cfb","name":"userLeft","func":"var counter = global.get(\"counter\");\nvar size = global.get(\"sizeOfUsers\");\nvar userLeft = size - counter;\nvar newMsg = {payload: userLeft.toString() };\n//need a string since mqtt can't accept numbers\nreturn newMsg;\n","outputs":1,"noerr":0,"x":460,"y":1560,"wires":[["702f5bc2.592b04"]]},{"id":"5d40a4c0.24b73c","type":"mqtt-broker","z":"","name":"Raspberry","broker":"192.168.43.238","port":"1883","clientid":"orchestrateur","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f359e0ea.111b3","type":"mqtt-broker","z":"","name":"Android","broker":"192.168.43.188","port":"1883","clientid":"orchestrator","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]