node-RED Android.json
[{"id":"91d7b11e.6076c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dffe0846.ae23b8","type":"mosca in","z":"91d7b11e.6076c","mqtt_port":1883,"mqtt_ws_port":8080,"name":"Android","username":"","password":"","dburl":"","x":114.10000610351562,"y":36.000001430511475,"wires":[[]]},{"id":"e20d66e6.b47ca8","type":"mqtt in","z":"91d7b11e.6076c","name":"","topic":"test","qos":"0","datatype":"utf8","broker":"94e28bb8.111d98","x":136.1000518798828,"y":191.00000381469727,"wires":[[]]},{"id":"f8fb586f.ea6b78","type":"mqtt out","z":"91d7b11e.6076c","name":"","topic":"test","qos":"","retain":"","broker":"94e28bb8.111d98","x":450.1000556945801,"y":125.00000143051147,"wires":[]},{"id":"3a73afd.d8e1c5","type":"inject","z":"91d7b11e.6076c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":189.10000610351562,"y":124,"wires":[["f8fb586f.ea6b78"]]},{"id":"b684173f.fb5958","type":"mqtt out","z":"91d7b11e.6076c","name":"","topic":"newConnection","qos":"","retain":"","broker":"94e28bb8.111d98","x":397.0000534057617,"y":306.00000381469727,"wires":[]},{"id":"66033cbd.96b3a4","type":"inject","z":"91d7b11e.6076c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":166,"y":305.00000381469727,"wires":[["b684173f.fb5958"]]},{"id":"bd0ecb6d.9b7b18","type":"mqtt in","z":"91d7b11e.6076c","name":"","topic":"appointments","qos":"0","datatype":"auto","broker":"94e28bb8.111d98","x":158.0999984741211,"y":424.6000061035156,"wires":[[]]},{"id":"842d7026.7037d","type":"mqtt in","z":"91d7b11e.6076c","name":"","topic":"users","qos":"0","datatype":"auto","broker":"94e28bb8.111d98","x":137.10000228881836,"y":488.6000556945801,"wires":[[]]},{"id":"3a218da0.c776d2","type":"mqtt in","z":"91d7b11e.6076c","name":"","topic":"inRoomCurrentUser","qos":"0","datatype":"auto","broker":"94e28bb8.111d98","x":171.10000610351562,"y":600.4000015258789,"wires":[[]]},{"id":"7a656627.2d1518","type":"mqtt in","z":"91d7b11e.6076c","name":"","topic":"inRoomNextUser","qos":"0","datatype":"auto","broker":"94e28bb8.111d98","x":180.10000610351562,"y":674.9999847412109,"wires":[[]]},{"id":"1e656ae3.a26ff5","type":"mqtt in","z":"91d7b11e.6076c","name":"","topic":"userLeft","qos":"0","datatype":"auto","broker":"94e28bb8.111d98","x":164.10000610351562,"y":751.7999877929688,"wires":[["4876b258.f43bec"]]},{"id":"4876b258.f43bec","type":"debug","z":"91d7b11e.6076c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":351.00000381469727,"y":746.0000095367432,"wires":[]},{"id":"94e28bb8.111d98","type":"mqtt-broker","z":"","name":"Android","broker":"localhost","port":"1883","clientid":"android","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]