node-RED Raspberry.json
[{"id":"597ddfb.fa3fb2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6cae7445.5be8dc","type":"debug","z":"597ddfb.fa3fb2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":120,"wires":[]},{"id":"56fc3fc6.b405e","type":"comment","z":"597ddfb.fa3fb2","name":"Read                                                                 Button                                                                 value","info":"","x":130,"y":160,"wires":[]},{"id":"914c7029.aecdc","type":"rpi-gpio in","z":"597ddfb.fa3fb2","name":"","pin":"31","intype":"tri","debounce":"25","read":false,"x":170,"y":200,"wires":[["768ac280.26cb5c"]]},{"id":"f7e2938f.6efdf","type":"mqtt out","z":"597ddfb.fa3fb2","name":"","topic":"buttonPressed","qos":"0","retain":"","broker":"3044ec71.f349d4","x":780,"y":220,"wires":[]},{"id":"b07a6aa5.6d5938","type":"mosca in","z":"597ddfb.fa3fb2","mqtt_port":1883,"mqtt_ws_port":8080,"name":"Raspberry","username":"","password":"","dburl":"","x":100,"y":40,"wires":[[]]},{"id":"8baa0988.8c0598","type":"mqtt in","z":"597ddfb.fa3fb2","name":"","topic":"led","qos":"0","datatype":"auto","broker":"3044ec71.f349d4","x":150,"y":300,"wires":[["de300f6c.6b031"]]},{"id":"de300f6c.6b031","type":"rpi-gpio out","z":"597ddfb.fa3fb2","name":"GPIO 16","pin":"29","set":false,"level":"0","freq":"","out":"out","x":360,"y":300,"wires":[]},{"id":"b765ffbf.033a7","type":"comment","z":"597ddfb.fa3fb2","name":"Write LED value","info":"","x":120,"y":260,"wires":[]},{"id":"ed01b44c.4d6cf8","type":"function","z":"597ddfb.fa3fb2","name":"init","func":"global.set(\"buttonValue\",1);\n","outputs":0,"noerr":0,"x":470,"y":40,"wires":[]},{"id":"239552a9.fb2b1e","type":"mqtt in","z":"597ddfb.fa3fb2","name":"","topic":"newConnection","qos":"0","datatype":"auto","broker":"3044ec71.f349d4","x":320,"y":40,"wires":[["ed01b44c.4d6cf8"]]},{"id":"768ac280.26cb5c","type":"switch","z":"597ddfb.fa3fb2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":220,"wires":[["f7e2938f.6efdf","6cae7445.5be8dc"]]},{"id":"3044ec71.f349d4","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]